# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Config files
*.config.js
*.config.mjs
*.config.ts
postcss.config.mjs
tailwind.config.ts
